body {
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
ol {
    background-color: #F5EFE6;
    padding: 30px;
    margin: 0px;
    vertical-align: top;
    position: static;
    z-index: 999999;
    text-align: center;
}

.navlink {
    display: inline;
    margin-right: 30px;
    padding: 15px;
    bottom: 0;
}

ol a {
    text-decoration: none;
    font-family: "Comfortaa";
    font-weight: 700;
    font-size: 20px;
    color: #7895B2;
}

ol a:hover {
    color: #808080;
    ;
}

.aboutUs {
    position: realtive;
    text-align: center;
    margin: 15%;
    height: 100%;
    padding: 30px;
    background-color: white;
}

.aboutUs h1 {
    text-decoration: none;
    font-family: "Comfortaa";
    font-weight: 700;
    font-size: 36px;
    color: #7895B2;
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
}

.aboutUs p {
    text-decoration: none;
    font-family: "Comfortaa";
    font-weight: 500;
    font-size: 20px;
    color: #808080;
}

/* This starts the Carousel portion. */

.carousel-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    z-index: 1;
}

.carouselSlides {
    display: none;
}

.previousButton, .nextButton {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 36px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .nextButton {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .slideDescription {
    color: #f2f2f2;
    font-family: "Comfortaa";
    font-weight: 500;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  .slideNumberText {
    color: #f2f2f2;
    font-family: "Comfortaa";
    font-weight: 500;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/* CARD STYLES */
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  background-color: #aebdca;
  align-items: flex-start;
}
.card {
  --padding: 1rem;
  background-color: #7895b2;
  border: 3px solid #e8dfca;
  border-radius: 1rem;
  margin: 1rem;
  text-align: center;
  overflow: hidden;
}

.card-header {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.card-header.card-image {
  overflow: hidden;
  margin-bottom: 1.5rem;
}
.card-header.card-image > img {
  display: block;
  width: 100%;
  max-height: 200px;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
  transition: 200ms transform ease-in-out;
}

.card:hover > .card-header.card-image > img {
  transform: scale(1.25);
}

.card-body {
  font-size: 1.5rem;
  padding: 0 var(--padding);
  margin-bottom: 2rem;
}

.card-footer {
  margin-top: 1rem;
  padding: 0 var(--padding);
  padding-top: 0;
}

/* CARD BTN STYLES */
.btn {
  background: #f5efe6;
  color: black;
  border: none;
  font-size: 1rem;
  padding: 0.5em 0.75em;
  border-radius: 0.25em;
  cursor: pointer;
  margin-bottom: 1rem;
}

.btn:hover,
.btn:focus {
  background: #aebdca;
}

/* Contact form CSS */

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }
  
  .contact-container {
    width: 100%;
    height: 100vh;
    background-color: #7895b2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  form {
    background-color: #f5efe6;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
  }
  
  form h3 {
    text-decoration: none;
    font-family: "Comfortaa";
    font-weight: 700;
    font-size: 36px;
    color: #7895B2;
    text-align: center;
  }
  
  form input,
  form textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background-color: #fff;
    text-decoration: none;
    font-family: "Comfortaa";
    font-weight: 500;
    font-size: 20px;
    color: #808080;
  }
  
  .send-button {
    padding: 15px;
    background-color: #aebdca;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 250px;
    margin: 20px auto 0;
  }
  
